* {
  color: #7820f3;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: normal;
}
a {
  text-decoration: none;
}
button {
  border: 0;
  background-color: transparent;
}
.back {
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../img/background.webp");
  background-size: cover;
}
.login {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #ffffff66;
  backdrop-filter: blur(25px);
}
.login > .central-title {
  z-index: 1;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 400;
}
.login > .login-form {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 100px;
}
.login > .login-form > input {
  width: 200px;
  height: 40px;
  margin: 4px;
  padding: 2px;
  background-color: transparent !important;
  border: 0 solid #ffffff66;
  border-bottom: 2px solid #7820f3;
  transition: background-color 50000s ease-in-out 0s;
  -webkit-text-fill-color: black;
}
.login > button {
  z-index: 1;
  width: 120px;
  height: 36px;
  margin-top: 40px;
  cursor: pointer;
  background-color: transparent !important;
  border: 2px solid #7820f3;
  border-radius: 18px;
}
.container {
  position: absolute;
  width: 100%;
  max-width: 500px;
  min-height: 100%;
  background-color: #ffffff66;
  backdrop-filter: blur(25px);
}
.main-title {
  margin: 16px 4% 0 4%;
  padding: 4px;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
}
.main-time {
  margin: 0 4% 0 4%;
  padding-left: 4px;
  font-size: 16px;
  color: grey;
  opacity: 0.8;
}
.main-content {
  margin: 2% 4% 2% 4%;
  padding: 4px;
  font-size: 16px;
  color: black;
}
.main-images > .main-image {
  margin: 2% 10% 0 10%;
  width: 80%;
  height: 40%;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
}
.event-card {
  display: flex;
  margin: 12px 5% 0 5%;
  width: 90%;
  background-color: #ffffff66;
  backdrop-filter: blur(25px);
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
}
.event-card > .event-title {
  display: inline-block;
  margin: 16px;
  color: black;
  font-size: 18px;
  line-height: 18px;
}
.event-card > .event-time {
  display: block;
  float: right;
  margin: 16px;
  color: grey;
  line-height: 18px;
}
.event-card > div > .event-button {
  display: block;
  float: right;
  margin: 16px 8px;
  color: black;
  cursor: pointer;
  line-height: 18px;
}
.event-card > .event-data {
  display: block;
  float: right;
  width: 30%;
  margin: 16px;
}
.event-card > .event-data > .data-bar {
  margin-right: 8px;
  width: 100%;
  height: 5px;
  overflow: hidden;
  border-radius: 2px;
}
/*# sourceMappingURL=frame.css.map */