span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #f4edfe88;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

@keyframes in {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 2000px;
        height: 2000px;
    }
}

@keyframes out {
    0% {
        width: 2000px;
        height: 2000px;
    }

    100% {
        width: 0;
        height: 0;
    }
}